<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Circle drawing</title>
    <link rel="stylesheet" href="../pagestyle.css">
    <script type="module" src="circle-drawing.js"></script>
  </head>
  <body>
    <figure id="diagram">
      <svg viewBox="0 0 550 220">
        <rect v-for="{x,y} in positions"
              :x="x * scale + 1/2" :y="y * scale + 1/2"
              :width="scale-1" :height="scale-1"
              :fill="insideCircle(center, {x, y}, radius)
                     ? 'hsl(0, 30%, 60%)'
                     : 'hsl(250, 10%, 93%)'"
        />
        <text v-for="{x, y} in positions"
              :font-size="0.5 * scale"
              :x="(x + 1/2) * scale" text-anchor="middle"
              :y="y * scale" :dy="0.6 * scale">
          {{Math.hypot(x-center.x, y-center.y).toFixed(1)}}
        </text>
        <drag-handle v-model="centerPosition"
                     color="yellow" :size="scale * 0.4" />
        <drag-handle v-model="radiusPosition"
                     color="white" :size="scale * 0.3" />
      </svg>
      <label>
        radius =
        <input v-model.number="radius"
               type="range" min="1" max="8" />
        <input v-model.number="radius"
               type="number" min="1" max="8" size="3" />
      </label>
    </figure>
  </body>
</html>
