/* These are styles to make the page fit well into the main page */
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    accent-color: hsl(0 30% 60%);
}
html {
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: min(1.25rem, calc(0.5rem + 1vw));
}
body > div, body > p, h1, h2 {
    max-width: 35rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
header, footer {
    background-color: hsl(0 20% 80%);
    padding: 0.5em;
}
footer {
    min-height: 3em;
    text-align: center;
}
figure {
    /*
       I can't have a margin on this because it messes up the
       calculations for my iframe sizing, so instead I have a padding
     */
    margin: 0;
    padding: 0.5em 1em;
}
