<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Circle drawing</title>
    <link rel="stylesheet" href="../pagestyle.css">
    <script type="module" src="circle-drawing.js"></script>
    <style>
      #diagram-distances .inside rect { fill: hsl(60 10% 93%); }
      #diagram-distances .outside rect { fill: hsl(250 10% 93%); }
      #diagram-distances .inside text { fill: hsl(60 40% 20%); font-weight: bold; }
      #diagram-distances .outside text { fill: hsl(250 20% 50%); }
    </style>
  </head>
  <body>
    <figure id="diagram-distances">
      <svg viewBox="0 0 396 220">
        <defs>
          <marker id="arrowhead" viewBox="0 0 10 10" 
                  refX="7" refY="5" markerUnits="strokeWidth"
                  markerWidth="4" markerHeight="3" orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" />
          </marker>
        </defs>
        <g v-for="{q, r} in positions"
           :transform="`translate(${(q+1/2)*scale},${(r+1/2)*scale})`"
           :class="insideCircle(center, {q, r}, radius)? 'inside' : 'outside'">
          <rect
              :x="-scale/2 + 1/2" :y="-scale/2 + 1/2"
              :width="scale-1" :height="scale-1" />
          <text
              :font-size="0.45 * scale"
              text-anchor="middle"
              :dy="0.15 * scale">
            {{distanceLabel(q, r)}}
          </text>
        </g>
        <circle
            :cx="(center.q + 1/2) * scale"
            :cy="(center.r + 1/2) * scale"
            :r="radius * scale"
            fill="none" stroke="hsl(60 10% 50%)" />
        <g class="measure-line">
          <line :x1="measureLineCenter.x - scale/3" :y1="measureLineCenter.y"
                :x2="measureLineLeft.x" :y2="measureLineLeft.y"
                stroke="black" stroke-width="1.5" marker-end="url(#arrowhead)" />
          <line :x1="measureLineCenter.x + scale/3" :y1="measureLineCenter.y"
                :x2="measureLineRight.x" :y2="measureLineRight.y"
                stroke="black" stroke-width="1.5" marker-end="url(#arrowhead)" />
          <text fill="hsl(0, 50%, 50%)" text-anchor="middle"
                :x="measureLineCenter.x" :y="measureLineCenter.y"
                :font-size="0.4 * scale" font-weight="bold"
                :dy="0.15 * scale">{{radius.toFixed(1)}}</text>
        </g>
        <drag-handle v-model="centerPosition"
                     color="hsl(60, 100%, 90%)" :size="0.3 * scale" />
        <drag-handle v-model="radiusPosition"
                     color="hsl(30 100% 80%)" :size="0.2 * scale" />
      </svg>
      <figcaption>Circle with radius {{radius.toFixed(1)}}</figcaption>
    </figure>
  </body>
</html>
