<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Circle drawing</title>
    <link rel="stylesheet" href="../pagestyle.css">
    <script type="module" src="circle-drawing.js"></script>
    <style>
        figcaption { text-align: center; }
        #diagram-distances rect { stroke: white; stroke-width: 0.05px; }
        #diagram-distances .inside rect { fill: hsl(60 10% 93%); }
        #diagram-distances .outside rect { fill: hsl(250 10% 93%); }
        #diagram-distances .inside text { fill: hsl(60 40% 20%); font-weight: bold; }
        #diagram-distances .outside text { fill: hsl(250 20% 50%); }
    </style>
  </head>
  <body>
    <figure id="diagram-distances">
      <svg :view-box.camel="`-0.5 -0.5 ${gridCols} ${gridRows}`">
        <defs>
          <marker id="arrowhead" viewBox="0 0 10 10" 
                  refX="7" refY="5" markerUnits="strokeWidth"
                  markerWidth="4" markerHeight="3" orient="auto">
            <path d="M 0 0 L 10 5 L 0 10 z" />
          </marker>
        </defs>
        <g v-for="{q, r} in positions"
           :transform="`translate(${q},${r})`"
           :class="insideCircle(center, {q, r}, radius)? 'inside' : 'outside'">
          <rect
              :x="-1/2" :y="-1/2"
              :width="1" :height="1" />
          <text
              :font-size="0.45"
              text-anchor="middle"
              :dy="0.15">
            {{distanceLabel(q, r)}}
          </text>
        </g>
        <circle
            :cx="center.q"
            :cy="center.r"
            :r="radius"
            fill="none" stroke="hsl(60 10% 50%)" stroke-width="0.05" />
        <g class="measure-line">
          <line :x1="center.q + radius/2 - 1/3" :y1="center.r - 1/2"
                :x2="center.q" :y2="center.r - 1/2"
                stroke="black" stroke-width="0.08" marker-end="url(#arrowhead)" />
          <line :x1="center.q + radius/2 + 1/3" :y1="center.r - 1/2"
                :x2="center.q + radius" :y2="center.r - 1/2"
                stroke="black" stroke-width="0.08" marker-end="url(#arrowhead)" />
          <text fill="hsl(0 50% 50%)" text-anchor="middle"
                :x="center.q + radius/2" :y="center.r - 1/2"
                :font-size="0.4" font-weight="bold"
                :dy="0.15">{{radius.toFixed(1)}}</text>
        </g>
        <drag-handle v-model="centerPosition"
                     color="hsl(60 100% 90%)" :size="0.3" />
        <drag-handle v-model="radiusPosition"
                     color="hsl(30 100% 80%)" :size="0.2" />
      </svg>
      <figcaption>Circle with radius {{radius.toFixed(1)}}</figcaption>
    </figure>
  </body>
</html>
